amqp==2.5.0
appnope==0.1.0
backcall==0.1.0
billiard==3.6.0.0
celery==4.3.0
certifi==2019.6.16
chardet==3.0.4
decorator==4.4.0
Django==2.2.8
django-environ==0.4.5
django-redis==4.10.0
idna==2.8
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.14.1
kombu==4.6.3
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
psycopg2-binary==2.8.3
ptyprocess==0.6.0
Pygments==2.4.2
pytz==2019.1
redis==3.2.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.2
urllib3==1.25.3
vine==1.3.0
wcwidth==0.1.7
git+https://github.com/MEADez/django-template-schema.git@master#egg=django-template-schema==0.2
git+https://github.com/MEADez/dts-extensions.git@master#egg=dts-extensions==0.2
Pillow==6.2.1

# components
git+https://github.com/MEADez/btc-flex-forms.git@master#egg=btc-flex-forms==0.5
git+https://github.com/MEADez/btc-floating-windows.git@master#egg=btc-floating-windows==0.3
git+https://github.com/MEADez/django-template-schema.git@master#egg=django-template-schema==0.4
git+https://github.com/MEADez/dts-extensions.git@master#egg=dts-extensions==0.4

