{% extends "base.html" %}

{% block content %}
    <div id="content-base-row" class="row">
        <div class="col-12">
            <div class="row content-words-list-tags-row">
                <div class="col-12 content-words-list-tags-col-title">
                     ТЭГИ
                </div>
                <div class="col-12 content-words-list-tags-col-badges">
                    <span class="badge badge-primary words-tag-badge">
                        Здоровье
                    </span>
                    <span class="badge badge-primary words-tag-badge">
                        Природа
                    </span>
                    <span class="badge badge-primary words-tag-badge">
                        Спорт
                    </span>
                </div>
            </div>
            <div class="row content-words-list-row-words">
                <div class="col col-spacer-m-05-0">
                    <div class="row justify-content-center">
                        {% include '_word_card.html' %}
                        {% include '_word_card.html' %}
                        {% include '_word_card.html' %}
                        {% include '_word_card.html' %}
                        {% include '_word_card.html' %}
                        {% include '_word_card.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block page_content %}#}
{#    <div class="col-md-12 col-sm-12">#}
{#        {% for w in words %}#}
{#            <div class="card text-center mb-5">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title text-muted">{{ w.translation }}</h5>#}
{#                    <h5 class="card-title">#}
{#                        <a href="{% url "word-detail" w.slug w.pk %}">{{ forloop.counter }}:{{ w.text }}</a>#}
{#                    </h5>#}
{#                    <h5 class="card-title">{{ w.transcription }}</h5>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}
{##}
{#{% block js %}#}
{#{% endblock %}#}
