{% load static %}

<!-- CUSTOM CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'styles/base.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/contents.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/landing.css' %}">


<!-- Flex Forms -->
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/flex_forms.css' %}">

<!-- Floating Windows -->
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/floating_windows/tray.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/floating_windows/windows.css' %}">