{% load static %}

<!-- CUSTOM CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'styles/base.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/contents.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/landing.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/floating_window.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/tray.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/footer.css' %}">