{% load staticfiles %}

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- MATERIAL ICONS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<!-- RUBIK FONT -->
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

<!-- WAVES EFFECTS -->
<link rel="stylesheet" href="https://cdn.bootcss.com/node-waves/0.7.2/waves.min.css" />

<!-- CUSTOM CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'styles/base.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/contents.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/floating_window.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/footer.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/navbar.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/collapsible_sidebar.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/dropdown.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/components/badge.css' %}">
