{% load staticfiles %}

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css">

<!-- CUSTOM CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'styles/base.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/styles.css' %}">
