/* region Footer
Наименования селекторов: footer-page_name-(row, col, container)-модификатор

*****************************************************************************************************/

#footer-base-row {
    flex: 1;
    min-height: 2rem;
    background-color: #fff;
    align-items: center;
}

#footer-base-row .footer-base-col .footer-logo-title {
    font-size: 14px;
}

/* endregion *********************************************************************************************************/