/* region Navbar
Наименования селекторов: navbar-page_name-(row, col, container)-модификатор

*****************************************************************************************************/

#navbar-base-row {
    height: auto;
    padding: 0.5rem 0 ;
    color: #675d79;
    align-items: center;
    border-bottom: 1px solid #d5cfdb;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .03);
}

.navbar-row {
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-row.navbar-row-body {
    width: 100%;
    justify-content: flex-start;
}

.navbar-row.navbar-row-body i {
    font-size: 24px;
}

.navbar-row.navbar-row-footer {
    /* pass */
}

.navbar-row .navbar-btn {
    margin: 0 0.5rem;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;

    -webkit-transition: 0.06s 0.06s;
}

.navbar-row .navbar-grouper {
    border-right: 1px solid rgba(141, 141, 141, 0.3);
}

.navbar-row .navbar-btn.disabled-btn {
    opacity: 0.4;
    pointer-events: none;
}

.navbar-row .navbar-btn:hover {
    color: #DD5124;
}

.navbar-row .navbar-btn.active {
    color: #DD5124;
}

/* endregion *********************************************************************************************************/