/* BASE --------------------------------------------------------------------------------------------------------------*/

html, body {
    height: 100%;
    font-size: 24px;
}

body{
    height: 100%;
    background-color: #fff;
    color: #453d52;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.app-base-icon {
    padding-right: 10px;
}

.inner-btn-border-right {
    display: None;
    width: 4px;
    border-right: 5px solid;
    border-radius: 0 6px 6px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.col-spacer-m-05-0 {
    margin: 0.5rem 0;
}

/* region Bases ******************************************************************************************************/

#app-base-container, #app-base-row {
    height: 100%;
}

#app-base-col-content {
    display: flex;
    flex-direction: column;
}

#content-base-row {
   height: 100%;
}

.btn {
    cursor: pointer;
}

.custom-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: unset;
    padding: unset;
    margin: unset;
}

.custom-link:hover {
    text-decoration: none;
    color: unset;
}

.btn-outline-orange {
    color: #D9542E;
    border-color: #D9542E;
}

.btn-outline-orange:hover {
    color: white;
    background-color: #D9542E;
}

.btn-outline-orange-inverse {
    color: white;
    border-color: white;
}

.btn-outline-orange-inverse:hover {
    color: #D9542E;
    background-color: white;
}

.btn-normal-blue {
    width: 185px;
    height: 52px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    background: #2196F3;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.btn-normal-blue:hover {
    background: #218ae5 !important;
}

/* endregion *********************************************************************************************************/


/* region Media ******************************************************************************************************/



/* endregion *********************************************************************************************************/