/* STYLES ------------------------------------------------------------------------------------------------------------*/

/* region Content
Наименования селекторов: content-page_name-(row, col, container)-модификатор

****************************************************************************************************/


/* Words Page
*********************************************************************************/

/* Tags */

.content-words-list-tags-row {
    border-bottom: 1px solid rgb(226, 219, 232);
}

.content-words-list-tags-col-title {
    margin: 0.5rem 0 0;
}

.content-words-list-tags-col-badges {
    margin: 0.5rem 0;
}

/* End Tags */

/* Words List */

.content-words-list-col-detail-sidebar {
    flex: 0 0 400px;
    border-left: 1px solid #ece9ef;
}

.content-words-list-row-words {
    height: calc(100% - 4.5rem);
}

/* End Words List */

/* Words Card */

.words-tag-badge {
    padding: 0.2rem 1rem;
    font-size: 0.5rem;
    font-weight: 700;
    background-color: #27a9e3;
}

.words-card {
    background-color: white;
    border: 1px solid #ece9ef;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 0.2rem;
    max-width: 10rem;
}

.words-card .words-card-header {
    font-size: 0.9rem;
    font-weight: 700;
}

.words-card .words-card-text {
    font-size: 0.5rem;
}

.words-card .words-card-body {
    /* pass */
}

.words-card .words-card-footer {
    /* pass */
}

/* End Words Card */

/* Media */

@media screen and (max-width: 576px) {
    .words-card {
        max-width: unset;
    }
}

/* End Media */

/********************************************************************************
End Page Words */

/* endregion *********************************************************************************************************/
