/* region Horizontal Menu *********************************************************************************************/

.horizontal-menu {
    padding: 0.4rem 0 0 0;
}

.horizontal-menu .horizontal-menu-item {
    min-width: 1rem;
    font-size: 16px;
    color: white;
    padding: 0.2rem 0.5rem 0 0;
    display: flex;
    align-items: center;
}

.horizontal-menu .horizontal-menu-btn {
    padding: 5px 7px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #fff;
    opacity: 0.8;
}

.horizontal-menu .horizontal-menu-btn.active{
    border-bottom: 4px solid #27a9e3;
    opacity: 1;
}

.horizontal-menu .horizontal-menu-btn:hover{
    opacity: 1;
}

/* endregion */