/* STYLES ------------------------------------------------------------------------------------------------------------*/

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    color: #453d52;
}

/* region Bases ******************************************************************************************************/

/* Forms */

.form-sign-in {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.non-field-errors, .fields-errors {
    color: red;
    font-size: 14px;
}

/* End Forms */


#app-base-container {
    height: 100%;
}

#app-base-row {
    height: 100%;
}

.app-base-icon {
    padding-right: 10px;
}

/* endregion *********************************************************************************************************/

/* region Navbar *****************************************************************************************************/

#navbar-base-row {
    min-height: 4rem;
    background-color: #fff;
    align-items: center;
    padding: 0.5rem 1rem 0 1rem;
    border-bottom: 1px solid #d5cfdb;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .03);
}

#navbar-base-row .navbar-col-date-info {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 0.5rem 0 0 0;
}

#navbar-base-row .navbar-row-menu {
    padding: 0.4rem 0 0 0;
}

#navbar-base-row .navbar-col-updates-info .navbar-col-updates-title {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
}

#navbar-base-row .navbar-col-updates-info .navbar-col-updates-schedule {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#navbar-base-row .navbar-menu-item {
    min-width: 1rem;
    font-size: 16px;
    color: white;
    padding: 0.2rem 0.5rem 0 0;
    display: flex;
    align-items: center;
}

#navbar-base-row .navbar-btn {
    padding: 5px 7px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #fff;
    opacity: 0.8;
}

#navbar-base-row .navbar-btn.active{
    border-bottom: 4px solid #27a9e3;
    opacity: 1;
}

#navbar-base-row .navbar-btn:hover{
    opacity: 1;
}

#navbar-base-row .navbar-col-updates-info {
    flex: 0 0 250px;
}

/* endregion *********************************************************************************************************/

/* region Sidebar ****************************************************************************************************/

#sidebar-base-col {
    /* pass */
}

#sidebar-base-col[data-is-open="true"] {
    flex: 0 0 300px;
}

#sidebar-base-col[data-is-open="false"] {
    flex: 0 0 82px; /* + 2px buttons border */
}

#sidebar-base-col[data-is-open="true"] .hide-on-sidebar-open {
    display: none;
}

#sidebar-base-col .sidebar-pos-fixed {
    position: fixed;
    height: 100%;
}

#sidebar-base-col[data-is-open="true"] .sidebar-pos-fixed {
    width: 270px;
}

#sidebar-base-col[data-is-open="false"] .hide-on-sidebar-close {
    display: none;
}

.sidebar-row {
    background-color: #1f262d;
}

/* Header
*********************************************************************************/

.sidebar-row.sidebar-row-header  {
    height: 2.6rem;
    color: white;
    align-items: center;
    /*border-bottom: 1px solid rgba(141, 141, 141, 0.07);*/
}

#sidebar-base-col[data-is-open="false"] .sidebar-row.sidebar-row-header .sidebar-logo {
    justify-content: center;
}

.sidebar-row .sidebar-row-user-info {
    height: auto;
}

.sidebar-row .sidebar-user-info-wrapper {
    display: inline-flex;
    width: 100%;
    padding: 0.75rem 0 0.5rem 0;
}

.sidebar-row .sidebar-user-image-wrapper {
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar-row .sidebar-user-description-wrapper {
    width: 100%;
    color: white;
    padding: 0 0.5rem;
}

.sidebar-row .sidebar-user-description-wrapper .sidebar-user-description {
    font-size: 0.5rem;
}

.sidebar-row .sidebar-user-description-wrapper .sidebar-user-description-username {
    padding: 0 0 0.3rem 0;
}

.sidebar-row.sidebar-row-header .sidebar-logo  {
    display: flex;
    align-items: center;
}

.sidebar-row.sidebar-row-header .sidebar-logo span  {
    margin-left: 10px;
}

/* Body
*********************************************************************************/

.sidebar-row.sidebar-row-body {
    height: 100%;
}

.sidebar-row .sidebar-col-body {
    padding-left: 5px;
    padding-right: 5px;
}

/* Footer
*********************************************************************************/

.sidebar-row.sidebar-row-footer {
    height: 1.4rem;
    align-items: center;
    border-top: 1px solid rgba(141, 141, 141, 0.07);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-row.sidebar-row-footer .sidebar-toolbar {
    font-size: 0.5rem;
    color: white;
}

.sidebar-row.sidebar-row-footer .sidebar-toolbar .sidebar-toolbar-btn {
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
}

/* Buttons
*********************************************************************************/

.sidebar-row .sidebar-btn,
.sidebar-row .sidebar-sub-btn{
    font-size: 12px;
    color: white;
    padding: 0.2rem 0.5rem 0.2rem 1rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    word-break: break-all;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    width: 100%;
}

.sidebar-row .sidebar-btn {
    border-right: 2px solid transparent;
}

.sidebar-row .sidebar-sub-btn{
    border-right: 2px solid #DD5124;
}

.sidebar-row .sidebar-btn:hover,
.sidebar-row .sidebar-sub-btn:hover{
    opacity: 0.6;
    color: white;
}

.sidebar-row .sidebar-btn-wrapper {
    margin-top: 0.4rem;
}

.sidebar-row .sidebar-btn-wrapper[data-is-open="false"] .sidebar-sub-btn-wrapper {
    display: none;
}

.sidebar-row .sidebar-btn-wrapper[data-is-open="false"] .hide-on-dropdown-close {
    display: none;
}

.sidebar-row .sidebar-btn-wrapper .sidebar-btn.active {
    background-color: #27a9e3;
}

.sidebar-row .sidebar-btn-wrapper .sidebar-sub-btn.active {
    color: #DD5124;
}

.sidebar-row .sidebar-btn-wrapper[data-is-open="true"] .show-on-dropdown-close {
    display: none;
}

.sidebar-row .sidebar-sub-btn-wrapper .sidebar-sub-btn {
    margin-top: 1px;
    background-color: #29343e;
}

/* endregion *********************************************************************************************************/

/* region Content ****************************************************************************************************/

.app-base-content-col {
    /* pass */
}

#app-base-content-col .content-col {
    padding: 1rem;
    border-bottom: 1px solid #ece9ef;
}

#app-base-content-col .content-row {
    height: 100%;
}

#app-base-content-col .content-col .content-title {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

#app-base-content-col .content-col .content-sub-title {
    font-size: 0.6rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}



/* Page 1
*********************************************************************************/
/* Example */
/********************************************************************************
End Page 1 */



/* Page 2
*********************************************************************************/
/* Example */
/********************************************************************************
End Page 3 */



/* Words Page
*********************************************************************************/

#content-words-row {
   min-height: calc(100% - 9rem);
}

#content-words-row .content-words-col-detail-sidebar {
    flex: 0 0 400px;
    border-left: 1px solid #ece9ef;
}

#content-words-row .content-words-row-word-cards {
    height: calc(100% - 4.2rem);
}

/* Words Card */
.words-tag-badge {
    padding: 0.2rem 1rem;
    font-size: 0.5rem;
    font-weight: 700;
    background-color: #27a9e3;
}

.words-card {
    background-color: white;
    border: 1px solid #ece9ef;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 0.2rem;
    max-width: 10rem;
}

.words-card .words-card-header {
    font-size: 0.9rem;
    font-weight: 700;
}

.words-card .words-card-text {
    font-size: 0.5rem;
}

.words-card .words-card-body {
    /* pass */
}

.words-card .words-card-footer {
    /* pass */
}
/* End Words Card */

/* Media */
@media screen and (max-width: 576px) {
    .words-card {
        max-width: unset;
    }
}
/* End Media */

/********************************************************************************
End Page Words */

/* endregion *********************************************************************************************************/
