{% extends 'base_auth.html' %}

{% load staticfiles %}
{% load fields %}
{% load i18n %}

{% block auth_title %}
    <h1 class="h3 mb-3 font-weight-normal auth-header-title">{% trans 'Подтверждение аккаунта' %}</h1>
{% endblock %}

{% block auth_content %}
    <p class="text-center">
        {% blocktrans %}
            Пользователь не найден или время активации истекло.
        {% endblocktrans %}
    </p>
    <hr>
    <div class="text-center registration-row">
        <a href="{% url 'login' %}">{% trans 'Вход в систему' %}</a>
    </div>
{% endblock %}