{% autoescape off %}
    Вы получили это письмо, так как запросили сброс пароля для учетной записи {{ user.email }}.
    Пожалуйста, перейдите по данной ссылке и введите новый пароль:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Если данная ссылка не кликабельна, скопируйте ее и вставьте в строку URL браузера.

    ---------------------------------------------------------------
    С уважением, команда разработчиков Twentysixwordsday
{% endautoescape %}