{% extends 'base_auth.html' %}

{% load staticfiles %}
{% load fields %}
{% load i18n %}

{% block auth_title %}
    <h1 class="h3 mb-3 font-weight-normal auth-header-title">{% trans 'Сброс пароля' %}</h1>
{% endblock %}

{% block auth_content %}
    <p class="text-center">
        {% blocktrans %}
            Мы отправили Вам инструкцию по восстановлению пароля. Вы должны получить ее в
            ближайшее время.
        {% endblocktrans %}
    </p>
    <hr>
    <p class="text-center">
        {% blocktrans %}
            Если Вы не получили электронное письмо, пожалуйста, убедитесь, что Вы указали верный
            адрес или проверьте папку со спамом.
        {% endblocktrans %}
    </p>
    <div class="text-center registration-row">
        <a href="{% url 'login' %}">{% trans 'Вход в систему' %}</a>
    </div>
{% endblock %}