{% extends 'base_auth.html' %}

{% load staticfiles %}
{% load fields %}
{% load i18n %}

{% block auth_title %}
    <h1 class="h3 mb-3 font-weight-normal auth-header-title">{% trans 'Регистрация' %}</h1>
{% endblock %}

{% block auth_content %}
    <div class="checkbox mb-3 repeat-activation">
        <span class=""><a href="{% url 'activation_repeat' %}">{% trans 'Не получили письмо активации?' %}</a></span>
    </div>

    {% floating_label_field form.username %}
    {% floating_label_field form.password %}
    {% floating_label_field form.password_repeat %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Регистрация' %}</button>
    <div class="text-center registration-row">
        <a href="{% url 'login' %}">{% trans 'Вход в систему' %}</a>
    </div>
{% endblock %}