<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load staticfiles %}

        {% block static_styles %}
            {% include 'blocks/_styles.html' %}
        {% endblock %}

        <title>26 words day</title>
    </head>
    <body>

        {% block navbar %}
            {% include "blocks/navbar.html" %}
        {% endblock %}
        <div class="container">
            <div class="row">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
        {% block footer %}
            {% include "blocks/footer.html" %}
        {% endblock %}


        {% block static_js %}
            {% include 'blocks/_scripts.html' %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </body>
</html>