<!doctype html>
<html lang="en">
    <head>
        {% load staticfiles %}
        {% load template_schema %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

        {% block static_styles %}
            {% include 'blocks/_styles.html' %}
        {% endblock %}

        <title>26 words day</title>
    </head>
    <body>

        <!-- Соглашение о наименовании селекторов:
        Идентиф-ры: {группа (если нет - app)}-{dj app (если нет - base)}-{bs container/row/col}-{мод-р (при наличии)}
        Классы: {группа}-{dj app (если нет - не указывать)-{bs container/row/col (если нет - не указывать)}-{модификатор}}
         -->

        {% init_template_schema 'utils.schemas.BaseApplicationSchema' as app_schema %}

        <div id="app-base-container" class="container-fluid">
            <div id="app-base-row" class="row">
                {% block sidebar %}
                    {% render_template_schema_group app_schema.application_sidebar 'sidebar' %}
                {% endblock %}
                <div id="app-base-col-content" class="col">
                    {% block navbar %}
                        {% render_template_schema_group app_schema.application_navbar 'navbar' %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                    {% block footer %}
                        {% include 'blocks/page/_footer.html' %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block static_js %}
            {% include 'blocks/_scripts.html' %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </body>
</html>