<!doctype html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

        {% load staticfiles %}

        {% block static_styles %}
            {% include 'blocks/_styles.html' %}
        {% endblock %}

        <title>26 words day</title>
    </head>
    <body>

        <div class="container-fluid app-base-container">
            <div class="row app-base-row">
                {% block sidebar %}
                    {% include 'blocks/page/_generic_sidebar.html' %}
                {% endblock %}
                <div class="col app-content-col">
                    {% block navbar %}
                        {% include 'blocks/page/_navbar.html' %}
                    {% endblock %}
                    <div class="row content-main-row">
                        <div class="col-12">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block static_js %}
            {% include 'blocks/_scripts.html' %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </body>
</html>