<div class="col profile-dropdown-col">
    <div class="row info-badge-row center-on-sidebar-close" data-toggle="dropdown">
        <div class="col info-badge-col">
            <div class="info-badge">
                A
            </div>
        </div>
        <div class="col">
            <div class="row info-badge-description-row hide-on-sidebar-close">
                <span>Evgeny</span>
                <i class="material-icons app-base-icon">keyboard_arrow_down</i>
            </div>
            <div class="row info-badge-description-row hide-on-sidebar-close">
                <span>m3adez@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="dropdown-menu dropdown-menu-right profile-dropdown-menu">
        <div class="dropdown-header">
            <div class="row info-badge-row center-on-sidebar-close" data-toggle="dropdown">
                <div class="col info-badge-col">
                    <div class="info-badge">
                        A
                    </div>
                </div>
                <div class="col">
                    <div class="row info-badge-description-row">
                        <span>Рейтинг: 1929</span>
                    </div>
                    <div class="row info-badge-description-row">
                        <span>Изучено слов: 26</span>
                    </div>
                    <div class="row info-badge-description-row">
                        <span>Любимое слово: Котейка</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">Настройки пользователя</button>
        <button class="dropdown-item" type="button">Выход</button>
    </div>
</div>