{% load staticfiles %}

<div class="col-lg-2 col-sm-12">
    <div class="row app-base-sidebar sidebar-header">
        <div class="col-12">
            <div class="logo">
                <img src="/assets/img/logo_img.png" class="logo-image" height="22" width="23">
                <span class="app-logo-text">26 Words Day</span>
            </div>
        </div>
    </div>
    <div class="row app-base-sidebar sidebar-body">
        <div class="col-12 main-column">
             <div class="sidebar-item">
                 Главная
             </div>
            <div class="sidebar-item">
                 История
             </div>
        </div>
    </div>
</div>