<a class="{{ button.css_classes }}" {{ button.html_params }}>
    {% if button.icon_before_title %}
        <i class="material-icons">{{ button.icon_before_title }}</i>
    {% endif %}
    <span class="title hide-on-sidebar-close">{{ button.title }}</span>
    {% if button.icon_after_title %}
        <i class="material-icons">{{ button.icon_after_title }}</i>
    {% endif %}
    {% if button.toggle_on_icon %}
        <i class="material-icons ml-auto hide-on-sidebar-close hide-on-dropdown-close">{{ button.toggle_on_icon }}</i>
    {% endif %}
    {% if button.toggle_off_icon %}
        <i class="material-icons ml-auto hide-on-sidebar-close show-on-dropdown-close">{{ button.toggle_off_icon }}</i>
    {% endif %}
    <span class="inner-btn-border"></span>
</a>