{% load staticfiles %}

<div class="col-lg-4 col-sm-12 words-content-list">
    <div class="row header">
        <div class="col-12">
            Слова: список
        </div>
    </div>
    <div class="row">
        <div class="col-12 main-column">
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
            <a class="list-item" href="#">А | Слово 1</a>
            <a class="list-item" href="#">Б | Слово 2</a>
        </div>
    </div>
</div>